{% extends "base.html" %}
{% block content %}

<div class="card mt-5">
    <div class="card-header">
        Delete Confirmation
    </div>
    <div class="card-body">
        <h5 class="card-title">Are you sure you want to delete the project: {{ project.title }}?</h5>
        <p class="card-text">This action is irreversible. Once the project is deleted, all its data will be permanently removed.</p>
        
        <form action="{{ url_for('project.delete_project', project_id=project.id) }}" method="post">
            <input type="hidden" name="token" value="{{ token }}">
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{{ url_for('project.project_detail', project_id=project.id) }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    <div class="card-footer text-muted">
        Note: This token will expire in 5 minutes. If you don't confirm within this time, you'll need to initiate the delete request again.
    </div>
</div>

{% endblock %}
