{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
  <div class="d-flex align-items-start">
    <h2 class="mb-0">{{ model.title }}</h2>
    <a href="{{ url_for('project_template.edit', id=model.id) }}" class="btn btn-white">
      <i class="bi bi-pencil text-dark"></i>
    </a>
  </div>
  <hr>

  <h5>Category</h5>
  <p>{{ model.category }}</p>

  <h5>Description</h5>
  {% for description_text in model.description.split('\n') %}
  <p>{{ description_text }}</p>
  {% endfor %}

  <h5>Methodology</h5>
  <ol>
    {% for step in model.methodology.split('\n') if step.strip() %}
    <li>{{ step }}</li>
    {% endfor %}
  </ol>

  <h5>Length</h5>
  <p>{{ model.length }}</p>

  <h5>Genres</h5>
  <ul>
    {% if model.genres is string %}
    {% for genre in model.genres.split(';') %}
    <li>{{ genre }}</li>
    {% endfor %}
    {% else %}
    {% for genre in model.genres %}
    <li>{{ genre.name }}</li>
    {% endfor %}
    {% endif %}
  </ul>
  <p><small>This is just a representative list. Many other genres exist. Choose a genre that best describes your
      creation.</small></p>
  <h5>Tags</h5>
  <ul>
    {% if model.tags %}
    {% if model.tags is string %}
    {% for tag in model.tags.split(';') %}
    <li>{{ tag }}</li>
    {% endfor %}
    {% else %}
    {% for tag in model.tags %}
    <li>{{ tag.name }}</li> {# or whatever attribute holds the tag's name in your Tag model #}
    {% endfor %}
    {% endif %}
    {% endif %}
  </ul>

  {% if model.links %}
  <h5>Related Links</h5>
  <ul>
    {% for link in model.links.split(';') %}
    <li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if model.structure %}
  <h5>Structure</h5>
  <pre>{{ model.structure }}</pre>
  {% endif %}

  <div class="mt-4">
    <button class="btn btn-secondary"
      onclick="showModalDialog('deleteModal','{{ url_for('project_template.delete', id=model.id) }}')">Delete</button>
  </div>

  <div class="mt-4">
    <a href="{{ url_for('project_template.list') }}">Back to Index</a>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}