{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Project Templates</h2>

    <!-- Check if there are any project templates -->
    {% if project_templates %}
    <div class="list-group">
        {% for project_template in project_templates %}
        <a href="{{ url_for('project_template.detail', project_template_id=project_template.id) }}"
            class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ project_template.project_template_name }}</h5>
                <small>Last Modified: {{ project_template.modified.strftime('%Y-%m-%d') }}</small>
            </div>
            <p class="mb-1">{{ project_template.description[:100] }}{% if project_template.description|length > 100
                %}...{% endif %}</p>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p>No project templates found. Please create a new project template.</p>
    {% endif %}
</div>

{% endblock %}