{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
  <h2 class="mb-4">Project Templates</h2>
  <div class="d-flex align-items-start mb-4">
    <a href="{{ url_for('project_template.create') }}" class="btn btn-primary" title="Create a new Project Template">
      <i class="fas fa-plus"></i>
    </a>
  </div>

  <!-- Check if there are any project templates -->
  {% if data %}
  <div class="list-group">
    {% for record in data %}
    <a href="{{ url_for('project_template.detail', id=record.id) }}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between align-items-center"> <!-- added align-items-center -->
        <h5 class="mb-1">{{ record.project_template_name }}</h5>
        <div class="d-flex align-items-center"> <!-- added d-flex and align-items-center -->
          <small class="mr-2">Last Modified: {{ record.modified.strftime('%Y-%m-%d') }}</small>
        </div>
      </div>
      <p class="mb-1">{{ record.description[:100] }}{% if record.description|length > 100 %}...{% endif %}</p>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <p>No project templates found.</p>
  {% endif %}
</div>

{% endblock %}