{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
  <div class="d-flex align-items-start">
    <h2 class="mb-0">{{ model.name }}</h2>
    <a href="{{ url_for('genre.edit', id=model.id) }}" class="btn btn-white">
      <i class="bi bi-pencil text-dark"></i>
    </a>
  </div>
  <hr>

  <!-- model.imageref -->
  {% if model.imageref %}
  <img src="{{ url_for('static', filename='images/' + model.imageref) }}" class="img-fluid" alt="Responsive image">
  {% endif %}

  <h5>Description</h5>
  {% for description_text in model.description.split('\n') %}
  <p>{{ description_text }}</p>
  {% endfor %}

  <div class="mt-4">
    <button class="btn btn-secondary"
      onclick="showModalDialog('deleteModal','{{ url_for('genre.delete', id=model.id) }}')">Delete</button>
  </div>

  <div class="mt-4">
    <a href="{{ url_for('genre.list') }}">Back to Index</a>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}