{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Project Template</h2>

    <form action="{{ url_for('template.edit', template_id=template.id) }}" method="post">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label for="category">Category</label>
            <input list="categories" name="category" id="category" class="form-control"
                value="{{ form.category.data }}">
            <datalist id="categories">
                {% for cat in form.category.choices %}
                <option value="{{ cat[0] }}">
                    {% endfor %}
            </datalist>
            {% if form.category.errors %}
            <span class="text-danger">{{ form.category.errors[0] }}</span>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="template_name">Template Name</label>
            {{ form.template_name(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            {{ form.description(class="form-control", rows=4) }}
        </div>

        <div class="form-group">
            <label for="methodology">Methodology</label>
            {{ form.methodology(class="form-control", rows=4) }}
        </div>

        <div class="form-group">
            <label for="length">Length</label>
            {{ form.length(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="links">Links (Separated by semicolons)</label>
            {{ form.links(class="form-control", placeholder="For example: link1;link2;link3", rows=3) }}
        </div>

        <div class="form-group">
            <label for="structure">Structure (JSON format)</label>
            {{ form.structure(class="form-control", placeholder="Provide a serialized JSON structure.", rows=5) }}
        </div>

        <div class="form-group">
            <label for="imageref">Image Reference</label>
            {{ form.imageref(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="usage_count">Usage Count</label>
            {{ form.usage_count(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/toolbox/edit_project_template.js') }}"></script>
{% endblock %}